.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0px;
  background-color: red;
  border-radius: 10px;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.media:hover {
    background-color: white;
    color: black;
}

@media (max-width: 550px) {
    .media {
        width: 45%;
    }
}

.poster {
    border-radius: 10px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0 2px;
    padding: 0 2px;
    padding-bottom: 3px;
}