.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    position: fixed;
    color: #fff;
    z-index: 100;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    padding: 20px;
}

